.toast {
  width: 300px;
  min-height: 65px;
  position: relative;
  transform: translateX(400px);
  visibility: hidden;


  opacity: 1;
  padding: 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%),
    0 2px 15px 0 rgb(0 0 0 / 5%);

  transition: 0.2s;
  animation: fadeIn 3s;
}

.toast:hover {
  transition: 0.2s;
  transform: scale(0.95);
  box-shadow: 0px 0px 3px gray;
}

.container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.success>.row,
.warning>.row,
.error>.row,
.info>.row {
  display: block;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 0%;
  background-color: #83bd92;
  animation: runRow 3s;
}

.success,
.warning,
.error,
.info {
  color: #000;
}

.warning>.row {
  background-color: #bda883;
}

.error>.row {
  background-color: #bd8383;
}

.info>.row {
  background-color: #8398bd;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(400px);
    visibility: initial;
  }

  8% {
    opacity: 1;
    transform: translateX(-20px);
  }

  10% {
    opacity: 1;
    transform: translateX(0px);
  }

  88% {
    opacity: 1;
    transform: translateX(0);
  }

  90% {
    opacity: 1;
    transform: translateX(-20px);
    visibility: initial;
  }

  100% {
    opacity: 0;
    transform: translateX(400px);
  }
}

@keyframes runRow {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}